<footer class="footer">
  <small>
    <a href="mailto:vankhanhk55bk@gmail.com">Micropost</a>
    by Khanh Phan Van
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="http://www.facebook.com/khanh.k55bk">Facebook</a></li>
    </ul>
  </nav>
</footer>
